<!DOCTYPE html>
<html lang="en">
  <head>

    <title>
      Profile
    </title>

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/app.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/jasny-bootstrap.css" rel="stylesheet">
    <link href="assets/css/docs.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/js/jasny-bootstrap.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="assets/js/controllers/profilectrl.js"></script>
  </head>
  <body ng-app="appProfile" ng-controller="profileCtrl">
    <div class="profile fileinput-new" data-provides="fileinput">
      <div class="container">
        <div class="bs-example-popover" ng-show="twitt">
          <div class="popover top">
            <div class="arrow"></div>
            <h3 class="popover-title">{{first_name}} says:</h3>
            <div class="popover-content">
              <p>{{twitt}}</p>
            </div>
          </div>
        </div>
        <header class="page-header">
          <div class="fileinput-new">
            <img class="img-size img-thumbnail img-responsive" ng-src="assets/images/account-avatar.png">
          </div>
          <div class="img-center">
            <div class="fileinput-preview fileinput-exists"></div>
          </div>
          <h4>{{first_name}} {{last_name}}</h4>
          <h6>{{email}}</h6>
        </header>
      </div>
      <div class="tab-panel">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="blue-tab" ng-class="{active:isSelected(1)}">
                  <a href ng-click="selectTab(1)">Audio</a>
                </li>
                <li class="blue-tab" ng-class="{active:isSelected(2)}">
                  <a href ng-click="selectTab(2)" >Video</a>
                </li>
                <li class="red-tab" ng-class="{active:isSelected(3)}">
                  <a href ng-click="selectTab(3)">Settings</a>
                </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div ng-show="isSelected(1)">
                oldldlddl
                </div>
                <div ng-show="isSelected(2)">asdasd</div>
                <div ng-show="isSelected(3)">
                  <h5>Edit your account</h5>
                  <div class="edit-form">
                    <form name="editForm" novalidate>
                      <div class="edit-btn-avatar">
                        <span class=" btn-file btn green-btn"><span class="fileinput-new">Edit your Photo</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="btn red-btn fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                      <div class="panel-edit-form">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-xs-6">
                                  <input type="text" ng-model="first_name" placeholder="First Name" required>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-xs-6">
                                  <input type="text" ng-model="last_name" placeholder="Last Name" required>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-xs-6">
                                  <input type="email" ng-model="email" placeholder="Email" required>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-xs-12">
                                  <textarea placeholder="Text Here" ng-model="twitt"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <h5>Add a social link</h5>
                      <div class="social-panel">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="social-links" ng-repeat="link in social_links">
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-xs-6">
                                    <input type="url" ng-model="social_name" placeholder="{{social_placeholder}}">
                                  </div>
                                  <div class="col-xs-2">
                                    <span class="btn red-btn" ng-click="removeLink($index)">X</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="social-btn">
                              <span ng-click="addSocial()"class="btn green-btn">Add</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                    <div class="submit-changes">
                      <button class="btn-lg red-btn">Submit changes</button>
                    </div> 
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
