<!DOCTYPE html>
<html lang="en">
  <head>

    <title>
      Profile
    </title>

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/app.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
  </head>
  <body ng-app="appHome">
    <div class="container" data-provides="fileinput">
      <div class="profile">
        <header class="page-header">
          <img class="img-size img-circle img-thumbnail" src="assets/images/account-avatar.png">
          <h4>Create an account</h4>
        </header>
      </div>
    </div>
    <div class="tab-panel" ng-controller="tabCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified">
              <li class="blue-tab" ng-class="{active:isSelected(1)}">
                <a href ng-click="selectTab(1)">Audio</a>
              </li>
              <li class="blue-tab" ng-class="{active:isSelected(2)}">
                <a href ng-click="selectTab(2)" >Video</a>
              </li>
              <li class="red-tab" ng-class="{active:isSelected(3)}">
                <a href ng-click="selectTab(3)">Settings</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div ng-show="isSelected(1)">ololol</div>
              <div ng-show="isSelected(2)">asdasd</div>
              <div ng-show="isSelected(3)">
                <div class="edit-form">
                  <form name="editForm"  novalidate>
                    <div class="panel ">
                      <div class="panel-edit">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-sm-6">
                                  <input type="text" ng-model="first_name" placeholder="First Name" required>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-sm-6">
                                  <input type="text" ng-model="last_name" placeholder="Last Name" required>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-sm-6">
                                  <input type="email" ng-model="email" placeholder="Email" required>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-sm-8">
                                  <textarea placeholder="Text Here" required></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
