<!DOCTYPE html>
<html lang="en">
  <head>

    <title>
      Profile
    </title>

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/videogular/style.css" rel="stylesheet">
    <link href="assets/css/jasny-bootstrap.css" rel="stylesheet">
    <link href="assets/css/docs.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/js/jasny-bootstrap.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-sanitize.min.js"></script>
    <script src="assets/js/videogular/videogular.js"></script>
    <script src="assets/js/videogular/plugins/controls.js"></script>
    <script src="assets/js/videogular/plugins/overlay-play.js"></script>
    <script src="assets/js/videogular/plugins/poster.js"></script>
    <script src="assets/js/controllers/profilectrl.js"></script>
  </head>
  <body ng-app="appProfile">
    <div class="profile fileinput-new" data-provides="fileinput">
      <div class="container">
        <!-- Success -->
        <div class="success boxed" ng-show="!successBox">
          <div class="success-body">
            <h6><span>Success:</span> Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h6>
          </div>
          <i class="success-icon" ng-click="successBox=!successBox">X</i>
        </div>
        <!--/ Success -->

        <!-- Alert -->
        <div class="alert boxed" ng-show="alertBox">
          <div class="alert-body">
            <h6><span>Error:</span> Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h6>
          </div>
          <i class="alert-icon" ng-click="alertBox=!alertBox">X</i>
        </div>
        <!--/ Alert -->
        <div class="bs-example-popover" ng-show="twitt" ng-model="twitter">
          <div class="popover top">
            <div class="arrow"></div>
            <h3 class="popover-title">{{first_name}} says<ellipsis-animated></ellipsis-animated></h3>
            <div class="popover-content">
              <p>{{twitt}}</p>
            </div>
          </div>
        </div>
        <header class="page-header">
          <div class="input-twitt" ng-show="showDiv" >
            <input type="text" placeholder="Your twitt goes here" ng-model="twitt">
          </div>
          <div class="pencil" ng-click="showDiv=!showDiv" ng-hide="showDiv">
            <span class="icon-small-comment"></span>
          </div>
          <div class="closeBtn" ng-click="showDiv=!showDiv" ng-show="showDiv">
            <span class="icon-small-delete"></span>
          </div>
          <div class="fileinput-new">
            <img class="img-size img-thumbnail img-responsive" ng-src="assets/images/account-avatar.png">
          </div>
          <div class="img-center">
            <div class="fileinput-preview fileinput-exists"></div>
          </div>
          <div class="social-links">
            <a class="facebook" href="#" ng-show="social_facebook">
              <span class="icon-small-facebook"></span>
            </a>
            <a href="#" class="google" ng-show="social_google">
              <span class="icon-small-google"></span>
            </a>
            <a href="#" class="twitter" ng-show="social_twitter">
              <span class="icon-small-twitter"></span>
            </a>
            <a href="#" class="pinterest" ng-show="social_pinterest">
              <span class="icon-small-pinterest"></span>
            </a>
          </div>
          <h4>{{first_name}} {{last_name}}</h4>
          <h6>{{email}}</h6>
        </header>
      </div>
      <div class="tab-panel">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="blue-tab" ng-class="{active:isSelected(1)}">
                  <a href ng-click="selectTab(1)">Audio</a>
                </li>
                <li class="blue-tab" ng-class="{active:isSelected(2)}">
                  <a href ng-click="selectTab(2)" >Video</a>
                </li>
                <li class="red-tab" ng-class="{active:isSelected(3)}">
                  <a href ng-click="selectTab(3)">Settings</a>
                </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div ng-show="isSelected(1)" ng-controller="audioCtrl">
                  Click me: <input type="checkbox" ng-model="clickPlay"><br/>
                  <div class="col-sm-12">
                    <div class="videogular-container">
                      <videogular vg-theme="config.theme.url" ng-show="clickPlay" class="videogular-container audio player-wrapper">
                        <vg-audio vg-src="audio"></vg-audio>

                        <vg-controls>
                          <vg-play-pause-button></vg-play-pause-button>
                          <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
                          <vg-scrubBar>
                            <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
                          </vg-scrubBar>
                          <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
                          <vg-volume>
                            <vg-mutebutton></vg-mutebutton>
                          </vg-volume>
                        </vg-controls>
                      </videogular>
                    </div>
                  </div>
                </div>
                <div ng-show="isSelected(2)" ng-controller="videoCtrl">
                  <div class="row">
                  <div class="col-md-6">
                    <div class="post-format-video">
                    <videogular vg-theme="config.theme.url">
                      <vg-video vg-src="config.sources"
                            vg-tracks="config.tracks">
                      </vg-video>

                      <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
                        <vg-scrubBar>
                          <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
                        </vg-scrubBar>
                        <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
                        <vg-volume>
                          <vg-mutebutton></vg-mutebutton>
                          <vg-volumebar></vg-volumebar>
                        </vg-volume>
                        <vg-fullscreenButton></vg-fullscreenButton>
                      </vg-controls>

                      <my-logo-plugin></my-logo-plugin>
                      <vg-overlay-play></vg-overlay-play>
                      <vg-poster-image vg-url='config.plugins.poster'></vg-poster-image>
                    </videogular>
                    <div class="post-title">
                     <h6>Lorem ipsulum dolor sit amet</h6>
                    </div>
                    <div class="post-format">
                      <span class="post-label label-video"></span>
                    </div>
                    </div>
                    </div>
                  </div>
                  <div class="indent-space"></div>
                </div>
                <div ng-show="isSelected(3)">
                  <h5>Edit your account</h5>
                  <edituser></edituser>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script type="text/ng-template" id="settings.html">
  <div class="edit-form">
    <form name="editForm">
      <div class="edit-btn-avatar">
        <span class=" btn-file btn green-btn"><span class="fileinput-new">Edit your Photo</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
        <a href="#" class="btn red-btn fileinput-exists" data-dismiss="fileinput">Remove</a>
      </div>
      <div class="panel-edit-form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" ng-model="first_name" placeholder="First Name" required>
                </div>
                <div class="col-sm-6">
                  <input type="text" ng-model="last_name" placeholder="Last Name" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <input type="email" name="email" ng-model="email" placeholder="Email" required>
                </div>
                <div class="col-xs-4" ng-show="editForm.email.$error.email">
                  <div class="error-popover">
                    <div class="error right">
                      <div class="arrow"></div>
                      <h3 class="error-title">Not valid email!</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5>Add a social link</h5>
        <div class="social-panel">
          <div class="row">
            <div class="col-sm-12">
              <div class="social-links">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="url" name="facebook" ng-model="social_facebook" placeholder="{{social_placeholder}}" required>
                      <span class="btn fb-button" ng-click="addFacebook()" ng-disabled="social_facebook">{{fb_button}}</span>
                    </div> 
                    <div class="col-sm-4" ng-show="editForm.facebook.$error.url">
                        <div class="error-popover">
                          <div class="error right">
                            <div class="arrow"></div>
                            <h3 class="error-title">Not valid url!</h3>
                          </div>
                        </div>
                      </div> 
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="url" name="google" ng-model="social_google" placeholder="{{social_placeholder}}">
                      <span class="btn gl-button" ng-click="addGoogle()" ng-disabled="social_google">{{gl_button}}</span>
                    </div> 
                    <div class="col-sm-4" ng-show="editForm.google.$error.url">
                        <div class="error-popover">
                          <div class="error right">
                            <div class="arrow"></div>
                            <h3 class="error-title">Not valid url!</h3>
                          </div>
                        </div>
                      </div> 
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="url" name="twitter" ng-model="social_twitter" placeholder="{{social_placeholder}}">
                      <span class="btn tw-button" ng-click="addTwitter()" ng-disabled="social_twitter">{{tw_button}}</span>
                    </div>
                    <div class="col-sm-4" ng-show="editForm.twitter.$error.url">
                        <div class="error-popover">
                          <div class="error right">
                            <div class="arrow"></div>
                            <h3 class="error-title">Not valid url!</h3>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="url" name="pinterest" ng-model="social_pinterest" placeholder="{{social_placeholder}}">
                      <span class="btn pin-button" ng-click="addPinterest()" ng-disabled="social_pinterest">{{pin_button}}</span>
                    </div>
                    <div class="col-sm-4" ng-show="editForm.pinterest.$error.url">
                        <div class="error-popover">
                          <div class="error right">
                            <div class="arrow"></div>
                            <h3 class="error-title">Not valid url!</h3>
                          </div>
                        </div>
                      </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <hr>
      <div class="submit-changes">
        <a class="btn btn-lg red-btn" ng-click="alertBox=!alertBox" ng-disabled="!first_name && !last_name && !email && !social_facebook && !social_google && !social_twitter && !social_pinterest ">Submit changes</a>
      </div> 
    </form>
  </div> 
</script>